<p>
    An email has been received.
</p>

<p>
Name: {{ submission.fromName }}<br>
Email: {{ submission.fromEmail }}<br>
Subject: {{ submission.subject }}<br><br>
{% if submission.message is defined %}
    {% for key, value in submission.message %}
        {{ key|capitalize }}:
        {% if value is iterable %}
            {% for item in value %}
                {{ item|nl2br }}
            {% endfor %}
        {% else %}
            {{ value|nl2br }}
        {% endif %}
    {% endfor %}
{% endif %}
</p>