{% extends 'blocks/__base__' %}

{% set label = item.backgroundColor.label is defined
    ? item.backgroundColor.label|lower
    : ''
%}
{% switch label %}
{% case 'light' %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% case 'dark' %}
    {% set backgroundClass = 'bg-neutral-800' %}
    {% set textClass = 'text-neutral-200' %}
{% default %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% endswitch %}

{% set classes = [backgroundClass, textClass] %}

{% block block_content %}
    {% set images = item.images.all() ?? [] %}
    <div class="mx-auto w-full max-w-7xl">
        {% if item.header %}
            <h2 class="gs-lazy mb-4 md:mb-6 lg:mb-8">
                {{ item.header }}
            </h2>
        {% endif %}
        {% if item.body %}
            <div class="gs-lazy cms-content gs-content">
                {{ item.body|raw }}
            </div>
        {% endif %}
        {% if (images|length) > 0 %}
            <div class="js-gallery glide">
                <div class="glide__track mb-4" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for image in images %}
                            <li class="glide__slide">
                                {% include 'components/image' with {
                                    image: image,
                                    classes: ['w-full'],
                                    overlay: {
                                        show: false
                                    }
                                } %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="flex flex-row flex-wrap gap-4"
                    data-glide-el="controls">
                    <button aria-label="Previous Image in Gallery"
                        title="Previous"
                        class="glide__arrow glide__arrow--left"
                        data-glide-dir="&lt;">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewbox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chevron-left">
                            <path d="m15 18-6-6 6-6" />
                        </svg>
                    </button>
                    <button aria-label="Next Image in Gallery"
                        title="Next"
                        class="glide__arrow glide__arrow--right"
                        data-glide-dir="&gt;">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewbox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chevron-right">
                            <path d="m9 18 6-6-6-6" />
                        </svg>
                    </button>

                    {% for image in images %}
                        <button aria-label="Click to view {{ image.alt }}"
                            title="Click to view {{ image.alt }}"
                            data-glide-dir="={{ loop.index0 }}">
                            {% include 'components/image' with {
                                image: image,
                                classes: ['w-32'],
                                overlay: {
                                    show: false
                                }
                            } %}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
