{% set classes = classes ?? [] %}

{% block block_wrapper %}
    <div data-name="{{ item.type }}" class="gs-group {{ classes|join(' ') }}">
        {% set links = item.links %}

        {% if (links|length) > 0 %}
            <div class="grid h-80 w-full grid-cols-1 grid-rows-1 items-stretch justify-center lg:grid-cols-2">
                {% for link in links %}
                    {% set page = link.pageEntry.one() %}
                    {% set header = link.header ? link.header : page.title %}
                    <a href="{{ page.url }}"
                        title="Go to: {{ header }}"
                        class="group relative flex flex-row items-center justify-center p-4">
                        <span class="font-raleway relative z-10 text-3xl font-bold">
                            {{ header }}
                        </span>
                        <span class="absolute bottom-0 left-0 right-0 z-10 w-full translate-y-4 p-4 text-center opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            {{ link.intro }}
                        </span>

                        {% set backgroundImage = link.backgroundImage.one()
                            ?? null
                        %}
                        {% if backgroundImage %}
                            {% include 'components/background-image' with {
                                image: backgroundImage,
                                bg: {
                                    fixed: false
                                },
                                overlay: {
                                    show: true
                                }
                            } %}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
