{% extends 'blocks/__base__' %}

{% set label = item.backgroundColor.label is defined
    ? item.backgroundColor.label|lower
    : ''
%}
{% switch label %}
{% case 'light' %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% case 'dark' %}
    {% set backgroundClass = 'bg-neutral-800' %}
    {% set textClass = 'text-neutral-200' %}
{% default %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% endswitch %}

{% set classes = [backgroundClass, textClass] %}

{% block block_content %}
    <div class="w-full {{ classes|join(' ') }} mx-auto max-w-7xl">
        {% if item.header %}
            <h2 class="gs-lazy mb-4 md:mb-6 lg:mb-8">
                {{ item.header }}
            </h2>
        {% endif %}

        {% if item.body %}
            <div class="gs-lazy cms-content gs-content">
                {{ item.body|raw }}
            </div>
        {% endif %}

        {% set featuredWorkshop = item.workshopEntry.one() ?? null %}
        {% set workshops = item.workshopEntries.all() %}

        {% if featuredWorkshop %}
            <a href="{{ featuredWorkshop.url }}"
                title="Click to read on: {{ featuredWorkshop.title }}"
                class="group relative mb-8 flex min-h-[400px] w-full flex-col justify-center bg-neutral-900 align-middle text-white">
                {% set featuredWorkshopImage = featuredWorkshop.image.one()
                    ?? null
                %}
                {% if featuredWorkshopImage %}
                    {% include 'components/background-image' with {
                        image: featuredWorkshopImage,
                        overlay: {
                            show: true,
                            type: 'light'
                        }
                    } %}
                {% endif %}

                <div class="z-1 relative grid grid-cols-1 grid-rows-1 justify-center gap-4 text-center align-middle">
                    <h2 class="mb-0">
                        {{ featuredWorkshop.title }}
                    </h2>
                    <p>
                        {# {{
                            readTime(featuredWorkshop.matrixBlocks.all(), false)
                        }} #}
                    </p>
                    <p class="absolute left-1/2 top-full mx-auto w-full max-w-lg -translate-x-1/2 translate-y-4 pt-4 opacity-0 transition-all duration-300 ease-in-out group-hover:translate-y-0 group-hover:opacity-100">
                        {{ featuredWorkshop.shortDescription }}
                    </p>
                </div>
            </a>
        {% endif %}

        {% if (workshops|length) > 0 %}
            <div class="workshops-container grid w-full grid-cols-1 grid-rows-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
                {% for workshop in workshops %}
                    {% set workshopImage = workshop.image.one() ?? null
                    %}
                    <a href="{{ workshop.url }}"
                        title="Click to read on: {{ workshop.title }}"
                        class="workshop-item-container group relative flex min-h-[300px] flex-col justify-center bg-neutral-900 align-middle text-white">
                        {% if workshopImage %}
                            {% include 'components/background-image' with {
                                image: workshopImage,
                                overlay: {
                                    show: true
                                }
                            } %}
                        {% endif %}

                        <div class="z-1 relative text-center">
                            <h2 class="mb-0 text-xl">
                                {{ workshop.title }}
                            </h2>
                            <p>
                                {# {{
                                    readTime(workshop.matrixBlocks.all(), false)
                                }} #}
                            </p>
                            <p class="absolute left-1/2 top-full w-full -translate-x-1/2 translate-y-4 px-8 pt-2 opacity-0 transition-all duration-300 ease-in-out group-hover:translate-y-0 group-hover:opacity-100">
                                {{
                                    featuredWorkshop.shortDescription|truncate(
                                        100
                                    )
                                }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
